@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

.eco{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.float{
    display:inline-block;
    vertical-align:top;
}

.theebo{
    padding-top: 20px;
}

.tweetcontain{
  padding-left: 60px;
}

.newscontainer {
  
  background: #fff;
  width: 40%;
  border-radius: 10px;
  margin: 0 auto 0;
  margin-left: 50%;
  padding: 20px;
  font-family: 'Arvo', serif; 
}

p.quote {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}*/
.blur{
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
.invisible{
  display:none;
}
.footer{

  top: 100%;
  position: absolute;
  left: 30%;
  font-size: 1.2em;
}
.iteration-count{
animation-iteration-count: 5;
}

span.fullform {
  display: inline;
}
span.fullform:after {
  width: 0px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: .6s linear;
}
span.fullform:nth-child(1):after {
  content: 'awaharlal ';
}
span.fullform:nth-child(2):after {
  content: 'ehru ';
}
span.fullform:nth-child(3):after {
  content: 'niversity ';
}
div.expand span:nth-child(1):after {
  width: 90px;
}
div.expand span:nth-child(2):after {
  width: 45px;
}
div.expand span:nth-child(3):after {
  width: 85px;
}
.logo{
  top: 20%;
   
    position: absolute;
    width: 5em;
  transition: 1s linear ;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
#naac{
  position: absolute;
  left: 10%;
  top: 120%;
}
#top100{
  position: absolute;
  left: 40%;
  top: 120%;
}
#second{
  position: absolute;
  left: 70%;
  top: 120%;
}