.eco{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.float{
    display:inline-block;
    vertical-align:top;
}

.theebo{
    padding-top: 20px;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
  
  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  
  blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }
  
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }







@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
body {
  background: #9b59b6;
  font: normal 300 1em/1.5em 'Ubuntu', sans-serif;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  margin: 0em auto 0;
  padding: 0em;
}

p { margin-bottom: 1.5em; }
p:last-child { margin-bottom: 0; }

blockquote.article {
  display: block;
  border-width: 0px 0;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 0.5em 0 0.5em;
  margin: 0.5em 0;
  position: relative;
  color: #000000;
  font-family: 'Arvo', serif;
}
/* blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
} */
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}